<section>
  <div class="hero-content">
    <div class="text-container">
      <p class="text-gradient">To the unbound </p>
      <p class="text-gradient">let's chisel new digital experience!</p>
    </div>
    <div id="signature-container"></div>
    <div class="tagline">
      <span> Creative Web Developer</span>
      <span> Techno-Functional Thinker</span>
      <span> Storyteller</span>
    </div>
  </div>
  <canvas class="particles-container" #containerCanvas></canvas>
  <canvas class="particles-scatter" #scatterCanvas></canvas>
</section>
